<!--The content below is only a placeholder and can be replaced.--> 
<div class="container">
<h2>Part 1: Counter</h2>
<h3>{{number}}</h3>
<button class="btn btn-primary" (click)="increment()">Increment</button>
<button class="btn btn-success"(click)="decrement()">Decrement</button>
<button class="btn btn-danger" (click)="reset() ">Reset</button>
<p>{{message}}</p>

<hr/>
<h2>Part 2: To Do List</h2>


<table class="table table-bordered table-striped table-hover">
  <tr>
    <th>Item Name</th>
    <th>Item Place</th>
    <th>Finished?</th>
  </tr>
  <tr (click)="itemSelected(item)" *ngFor="let item of items; let i = index"  [ngClass]="{ 'bg-danger': !item.completed, 'text-light': !item.completed,  'bg-info': item.completed}">
    <td>{{i}}</td>
    <td>{{item.name}}</td>
    <td>{{item.place}}</td>
    <td>{{item.completed}}</td>
  </tr>
</table>

<hr/>
<h2>Part 3 : To Do Form</h2>


  <div class="form-group">
    <label for="exampleInputName1">Item Name</label>
    <input type="text" class="form-control" id="exampleInputName1" placeholder="Enter item name"  [(ngModel)]="newItem.name">
  </div>
  <div class="form-group">
    <label for="exampleInputDesc1">Description</label>
    <input type="text" class="form-control" id="exampleInputDesc1" placeholder="Enter Description" [(ngModel)]="newItem.description">
  </div>
  <div class="form-group">
    <label for="exampleInputDesc1">Place</label>
    <input type="text" class="form-control" id="exampleInputDesc1" placeholder="Enter Place" [(ngModel)]="newItem.place">
  </div>
  
  <button type="submit" class="btn btn-primary" (click)="savePressed()">Add</button>


<hr/>
<div>
<h2>Part 4: Detail Selected Iten</h2>

{{selectedItem.name}} - {{selectedItem.description}} - {{selectedItem.place}} -- {{selectedItem.completed}}



</div>
</div>